{
  "misc": {
    "tst_count": 10000,  // 测试图像数量，不需要改动
    "score_csv": "/Users/mazeyu/PycharmProjects/autoscore/2018cksx.csv",  // 答案评分的csv路径（路径本身存在）
    "img_root": "/Users/mazeyu/PycharmProjects/autoscore/processed/T_10",  // 待处理图像的文件夹路径（路径本身存在）
    "res_file": "/Users/mazeyu/PycharmProjects/autoscore/2018T10bak",  // （路径不存在）处理好图像的路径, 运行后会自己创建，可以自己定义名称
    "col_name": "T10_1",  // （客观存在）答案评分在csv中的列名
    "train_num": 1000  // 训练样本量，不需要改动
  },
  "fine_tune": {
    "ans": "( sqrt { 3 } / 3 , + inf )",  // 答案，每一个元素需要用空格分割
    "ori_file": "ID2FORMULA.json"  // 不需要改动
  },
  "jerry_preprocess": {
    "ROOT": "Jerry/<自己指定的名字，例如：2018T10>",  // （路径本身不存在）自己指定，运行好jerry_preprocess会自己生成这个目录（一般在Jerry目录下），包含所有训练所需的文件（pkl和vocab）
    "NAME2ID": "{'dataset_手写填空-分式-1':0,'dataset_手写填空-数字序列-1':1,'dataset_手写填空-根式-1':2,'dataset_手写填空-集合-1':3}",  // 不需要改动
    "ORIGIN_PATH": "/Users/mazeyu/Downloads/dataset/output"  // output的路径（路径本身存在）
  },
  "train": {
    "epoch": 15 // 训练的epoch
  },
  "inference": {
    "info_path": "/Users/mazeyu/PycharmProjects/autoscore/im2latex/param.json",  //推断时候的-i文件路径
    "expname": "exp3_2018T10"  // 实验名称
  }

}